#listPage {
    .infoBox {
        border: 0.1rem solid var(--bar-bg-color);
        padding: 0.3em 1em;
        border-radius: 0.5rem;
        height: 1.8rem;
        overflow: hidden;
        transition: background-color 0.5s, height 0.5s;
        user-select: none;
        .preview {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;
            height: 1.8rem;
            .ticketId {
                color: var(--color);
                text-decoration: none;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                transition: color 0.5s;
                font-family: Consolas, source-code-pro, Menlo, Monaco, monospace;
            }
            .ticketId:hover {
                color: var(--select-color);
            }
            button {
                transform: rotateZ(90deg);
                font-size: 1.2rem;
                transition: transform 0.5s;
            }
        }
        .content {
            margin-top: 0.3em;
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(5.5rem + 3.7 * min(1rem, max(0rem, (22.5rem - 80vw) * 10000)) - var(--heigh-delta, 0rem));
            opacity: 0%;
            transition: opacity 0.5s;
            .smallLoading {
                width: 12rem;
                max-height: 100%;
                max-width: 80%;
            }
            .data {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                > .column {
                    width: 11rem;
                    height: 3.2rem;
                    line-height: 1.6rem;
                    min-width: calc(50% - 0.25rem);
                    max-width: 100%;
                    .value {
                        font-weight: 100;
                    }
                }
                > .buttonBar {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    height: 1.8rem;
                    gap: 0.5em;
                    button {
                        line-height: 1.4rem;
                        padding: 0.2rem 1rem;
                        border-radius: 0.5rem;
                    }
                    .edit {
                        background-color: var(--color-1);
                    }
                    .delete {
                        background-color: var(--error-color);
                    }
                }
            }
        }
    }
    .infoBox[data-open=true] {
        background-color: var(--bar-bg-color);
        height: calc(7.6rem + 3.7 * min(1rem, max(0rem, (22.5rem - 80vw) * 10000)) - var(--heigh-delta, 0rem));
        button {
            transform: rotateZ(0);
        }
        .content {
            opacity: 100%;
        }
    }
    .infoBox[data-self=false] {
        --heigh-delta: 1.8rem;
        .content .buttonBar {
            display: none;
        }
    }
}