.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        max-width: 60%;
        max-height: 100%;
        text {
            fill: var(--bar-bg-color);
        }
    }
}
