#app[data-theme=dark] {
    --color: #FFF;
    --sec-color: #AAA;

    --disable-color: #888;
    --select-color: #FF9030;
    
    --bar-bg-color: #323232;

    --bg-color: #161616;

    --box-color: #000;
    --box-bg-color: #FFF;

    --side-bar-bg-color: #2A2A2A;
    --side-bar-sec-bg-color: #202020;

    --fixed-bg-color: #1119;

    --float-button-color: #222A;
    --float-button-bg-color: #7776;
    --float-button-hover-bg-color: #777;

    --info-bg-color: #0F940F;

    --warning-color: #D6A611;
    --warning-bg-color: #b5b200;

    --error-color: #C82020;
    --error-bg-color: #FF7E7E;

    --color-1: #FF8820;
    --color-2: #8c00FF;
    --color-3: #2078FF;
    --color-4: #46A020;
    --color-5: #FF66FF;
    --color-6: #00A0A0;
}
