#app[data-theme=dark] {
    --color: #FFF;
    --sec-color: #AAA;

    --disable-color: #888;
    --select-color: #FF9030;

    --bg-color: #131313;

    --box-color: #000;
    --box-bg-color: #FFF;

    --side-bar-bg-color: #2A2A2A;
    --side-bar-sec-bg-color: #202020;

    --loading-bg-color: #1119;

    --error-color: #C82020;
    --error-bg-color: #FF7E7E
}
